:root{
    --pokemon-art-shopping-website-title-shadow-color: #0000ff;
    --pokemon-art-shopping-website-title-color: #da70d6;
    --pokemon-art-shopping-website-title-border-color: #ff0000;
    --pokemon-art-shopping-website-main-navbar-link-color: #000000;
    --pokemon-art-shopping-website-main-navbar-link-hover-color: #ffffff;
    --pokemon-art-shopping-website-nav-shadow-color: #ffa500;
    --pokemon-art-shopping-website-nav-border-color: #fa8072;
    --pokemon-art-shopping-website-box-bg-color: #ffebcd; 
    --pokemon-art-shopping-website-box-color:  #8b4513;
    --pokemon-art-shopping-website-box-border-color: #800008;
    --pokemon-art-shopping-website-contact-section-border-color: #808000;
    --pokemon-art-shopping-website-email-and-storage-link-shadow-color: #ffff00;
    --pokemon-art-shopping-website-email-and-storage-link-color: #00ffff;
    --pokemon-art-shopping-website-ninetales-section-color: #ff4500;
    --pokemon-art-shopping-website-northern-lights-section-bg-color: #00008b;
    --pokemon-art-shopping-website-family-section-bg-color: #d2691e;
    --pokemon-art-shopping-website-family-section-color: #daa520;
    --pokemon-art-shopping-website-autumn-section-color: #cd853f;
    --pokemon-art-shopping-website-headquarters-section-bg-color: #696969;
    --pokemon-art-shopping-website-headquarters-section-color: #7cfc00;
    --pokemon-art-shopping-website-bonding-section-bg-color: #87cefa;
}
html{
    background-image: url("https://tse3.mm.bing.net/th/id/OIP.dKz7ru7-DKlfIM83dvbpLgHaHa?cb=ucfimgc2&rs=1&pid=ImgDetMain&o=7&rm=3");
}
h1{ 
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-title-shadow-color);
    font-size: 50pt;
    color: var(--pokemon-art-shopping-website-title-color);
    border: 5px solid var(--pokemon-art-shopping-website-title-border-color);
}
p, li{
    font-size:20pt;
}
#header{
    text-shadow: 2px 2px #0000ff;
    font-size: 50pt;
    color:#da70d6;
}
nav{
    text-shadow: 1px 0px #ffa500;
    font-size: 20pt;
    border: 5px solid #fa8072;
}
#description, #special,#artpieces{
    background-color: #ffebcd;
    padding:15px 10px;
    color:#8b4513;
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size:65 pt;
    border:5px solid #800008;
}
#contact{
    text-shadow: 2px 2px #0000ff;
    font-size: 20pt;
    color:#da70d6;
    border: 5px solid #808000;
}
#home{
    position: initial;
    left: 100px;
    top: 150;
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-title-shadow-color);
    color: var(--pokemon-art-shopping-website-title-color);
    font-size: 30pt;
}
#home::after{
    content: "";
    position: absolute;
    float: left;
    left: -8%;
    bottom: -2px;
    width: 100%;
    height: 45%;
    background: url("brush-stroke.svg") no-repeat center/cover;
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease;
}
#home:hover::after{
    transform: scaleX(1);
}
#price{
    text-shadow: 2px 2px var(--pokemon-art-shopping-website-title-shadow-color);
    color: var(--pokemon-art-shopping-website-title-color);
    font-size: 30pt;
}
#ninetalesDescription{
    background-color: var(--pokemon-art-shopping-website-box-bg-color);
    padding:15px 10px;
    color: var(--pokemon-art-shopping-website-box-color);
    font-family:Brush Script MT, Brush Script Std, cursive;
    font-size:105pt;
    border:5px solid var(--pokemon-art-shopping-website-box-border-color);
}
#email{
    text-shadow: 2px 2px #ffff00;
    font-size: 20pt;
    color:#00ffff;
}
#ninetales{
    background-color: #00ffff;
    color:#ff4500;
}
#northernLights{
    background-color:#00008b;
    color:#00ffff;
}
#family{
    background-color:#d2691e;
    color:#daa520;
}
#autumn{
    background-color: #ff4500;
    color:#cd853f;
}
#hq{
    background-color:#696969;
    color:#7cfc00;
}
#playPark{
    background-color:#7cfc00;
    color:#fa8072;
}
#bonding{
    background-color:#87cefa;
    color:#ffff00;
}